:host {
    --rojo: #C1272D;
    --amarillo: #FCEE21;
    --naranja: #FFC107;
  }

@font-face {
    font-family: "Neo Sans Std";
    src: url("/src/assets/fonts/neo-sans-std.otf") format("truetype");
}

p, h4 {
    /* font-family: "Neo Sans Std"; */
    text-align: justify;
}

@keyframes latido {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(0.9);
    }
  
    25% {
      transform: scale(1.05);
    }

  }

/* La regla @keyframes especifica el código de animación. */
@keyframes grow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.75);
    }
}

.contenedor-imagen {
    background-color: black;
    overflow: hidden;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0px;
    border-radius: 4px;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.15s ease-out; 
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card:hover {
    border-color:  rgba(0, 0, 0, 1);
    /* border-width: 0px; */
    transform: scale(1.075);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1), 0 12px 30px 0 rgba(0, 0, 0, 0.1);
}

/* Se seleccionan todos lo botones(por eso el "*") hijos de card:hover */
.card:hover * button {
    color: white;
    background-color: #343A40;
    font-weight: bold;
    animation: latido 3s infinite;  
}

/* * Se seleccionan todas las clases ".image" (por eso el "*") hijas de card:hover  */
.card:hover * .image {
    object-fit: flex;
    transform-origin: center center;
    animation: grow 10s infinite linear;
}

button {
    color: black;
    background-color: white;
    font-weight: bold;
    border-width: 2px;
}

.badge {
  border-radius: 0px 0px 4px 0px;
  font-size: 14px;
  padding: 7.5px;
  font-weight: bold;
}

.badge-dark {
  border-radius: 0px 0px 0px 5px;
  font-size: 10px;
  /* background-color: var(--amarillo); */
  border-radius: 0px;
  padding: 5px;
  font-weight: normal;
}

.texto-icono {
  font-size: 14px; 
  font-weight: bold;
}

.texto-promocion {
  font-style: italic;
}


.texto-precios {
  color: gray;
}

.iconos-caracteristicas {
  margin-right: 3px;
  height: 18px;
  /* filter: grayscale(100%); */
}

.card:hover .iconos-caracteristicas {
  filter: grayscale(0%);
}

