<div class="card">
    <div class="contenedor-imagen" style="border-color: black;">

        <img class="image" 
             alt="Thumbnail" 
             style="width: 100%;" 
             src="./assets/images/{{ prefabricada.id }}.jpg"/>
    </div>
    <div class="container px-0">
        <div class="container my-2">
            <span style="font-size: 30px; font-weight: bold;">$750.000</span>
        </div>
        <hr class="m-0">
        <p *ngIf=!prefabricada.galeria class="card-text px-3 mt-3 mb-0" style="font-size: 15px;">
            Vivienda de {{prefabricada.superficie}}, con {{ numeroAtexto(prefabricada.dormitorios) }} dormitorios, cocina comedor y baño.
        </p>
        <p *ngIf=prefabricada.galeria class="card-text px-3 mt-3 mb-0" style="font-size: 15px;">
            Vivienda con {{prefabricada.superficie}}, con {{ numeroAtexto(prefabricada.dormitorios) }} dormitorios, cocina comedor, baño y galería/cochera.
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted p-4">Modelo {{ prefabricada.id }}</small>
            <div class="btn-group p-4">
                <button (click)="verModelo()" type="button" class="btn btn-outline-danger">Ver Mas</button>
            </div>
        </div>
        
    </div>  
</div>


       

