<div class="card" style="position: relative;">
    <!-- IMAGEN -->
    <div class="contenedor-imagen" style="border-color: black;">
        <img class="image" 
             alt="Thumbnail" 
             style="width: 100%;" 
             src="./assets/images/fachadas/{{ prefabricada.id }}.jpg"/>
    </div>
    <div class="container px-0">
        <!-- CONTENEDOR PRECIO Y EMOJIS -->
        <!-- Opción con precios pero sin metros cuadrados -->
        <div *ngIf="this.precio" class="d-flex my-2 flex-wrap px-3 align-items-center">
            <span class="texto-precio">$750.000</span>
            <div class="flex-grow-1"></div>
            <!-- <img class="iconos-caracteristicas" src="./assets/images/m2.png"/>
            <span class="texto-icono mr-2">{{ prefabricada.superficie }}</span> -->
            <img class="iconos-caracteristicas" src="./assets/images/dormitorios.png"/>
            <span class="texto-icono mr-2">{{ prefabricada.dormitorios }}</span>
            <img class="iconos-caracteristicas" src="./assets/images/baños.png"/>
            <span class="texto-icono">1</span>
        </div>
        <!-- Opción sin precio pero con metros cuadrados -->
        <div *ngIf="!this.precio" class="d-flex my-2 flex-wrap px-3 justify-content-center">
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/m2.png"/>
                <span class="texto-icono mr-2">{{ prefabricada.superficie }}</span>
            </div>
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/dormitorios.png"/>
                <span class="texto-icono mr-2">{{ prefabricada.dormitorios }}</span>
            </div>
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/baños.png"/>
                <span class="texto-icono">1</span>
            </div>
        </div>
        <!-- LINEA DIVISORIA -->
        <hr class="m-0">
        <!-- CONTENEDOR DE DESCRIPCIÓN -->
        <div class="d-flex justify-content-between">
            <span class="badge badge-warning">{{prefabricada.tipo}}</span>
            <span class="badge badge-dark align-self-start">Viviendas Oasis</span>
        </div>
        <p *ngIf=!prefabricada.galeria class="card-text px-3 mt-3 mb-0">
            Vivienda de {{prefabricada.superficie}}, con {{ numeroAtexto(prefabricada.dormitorios) }} dormitorios, cocina comedor y baño.
        </p>
        <p *ngIf=prefabricada.galeria class="card-text px-3 mt-3 mb-0" style="font-size: 15px;">
            Vivienda de {{prefabricada.superficie}}, con {{ numeroAtexto(prefabricada.dormitorios) }} dormitorios, cocina comedor, baño y galería/cochera.
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="px-3">Modelo {{ prefabricada.id }}</small>
            <div class="btn-group p-4">
                <button class="btn btn-dark" (click)="verModelo()" type="button">Mas Info</button>
            </div>
        </div>
        
    </div>  
</div>


       

