<div class="card" style="position: relative;">
    <!-- IMAGEN -->
    <div class="contenedor-imagen" style="border-color: black;">
        <img class="image" 
             alt="Thumbnail" 
             style="width: 100%;" 
             src="./assets/images/fachadas/{{ prefabricada.id }}.jpeg"/>
        <!-- Si la vivienda tiene precio entonces se agrega un texto de promocion por cupos limitados -->
        <div *ngIf="this.precio" class="badge badge-danger position-absolute texto-promocion" style="top: 0px; left: 0px;">PROMOCIÓN POR CUPOS LIMITADOS!</div>
    </div>
    <div class="container px-0">
        <!-- CONTENEDOR PRECIO Y EMOJIS -->
        <!-- Opción con precios pero sin metros cuadrados -->
        <div *ngIf="this.precio" class="d-flex my-2 flex-wrap px-3 align-items-baseline">
            <div class="d-flex flex-column mb-2 texto-precios">
                <h4 class="my-2">Anticipo: {{ prefabricada.anticipo }}</h4>
                <h6 class="my-1">Más {{ prefabricada.numero_cuotas}} Cuotas de {{ prefabricada.cuota }} fijas y en pesos.</h6>
                <!-- <span class="mt-1">Precio de contado: {{ prefabricada.precio_contado }} - Precio de lista: {{ prefabricada.precio_lista }}</span> -->
            </div>
            <div class="col"></div>
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/dormitorios.png"/>
                <span class="texto-icono mr-2">{{ prefabricada.dormitorios }}</span>
                <img class="iconos-caracteristicas" src="./assets/images/baños.png"/>
                <span class="texto-icono">1</span>
            </div>
        </div>
        <!-- Opción sin precio pero con metros cuadrados -->
        <div *ngIf="!this.precio" class="d-flex my-2 flex-wrap px-3 justify-content-center">
            <!-- EMOJI SUPERFICIE -->
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/m2.png"/>
                <span class="texto-icono mr-2">{{ prefabricada.superficie }}</span>
            </div>
            <!-- EMOJI DORMITORIOS -->
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/dormitorios.png"/>
                <span class="texto-icono mr-2">{{ prefabricada.dormitorios }}</span>
            </div>
            <!-- EMOJI BAÑOS -->
            <div class="container-small mx-2">
                <img class="iconos-caracteristicas" src="./assets/images/baños.png"/>
                <span class="texto-icono">1</span>
            </div>
        </div>
        <!-- LINEA DIVISORIA -->
        <hr class="m-0">
        <!-- CONTENEDOR DE DESCRIPCIÓN -->
        <div class="d-flex justify-content-between">
            <span class="badge badge-warning">{{prefabricada.tipo}}</span>
            <span class="badge badge-dark align-self-start">Viviendas Oasis</span>
        </div>
        <p *ngIf=!prefabricada.galeria class="card-text px-3 mt-3 mb-0">
            Vivienda de {{prefabricada.superficie}}, con {{ numeroAtexto(prefabricada.dormitorios) }} dormitorios, cocina comedor y baño.
        </p>
        <p *ngIf=prefabricada.galeria class="card-text px-3 mt-3 mb-0" style="font-size: 15px;">
            Vivienda de {{prefabricada.superficie}}, con {{ numeroAtexto(prefabricada.dormitorios) }} dormitorios, cocina comedor, baño y galería/cochera.
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="px-3">Modelo {{ prefabricada.id }}</small>
            <div class="btn-group p-4">
                <button class="btn btn-dark" (click)="verModelo()" type="button">Mas Info</button>
            </div>
        </div>
        
    </div>  
</div>


       

