
<div class="card">

    <!-- FORMULARIO -->
    <!-- ngForm es una directiva que crea un objeto de tipo FormGroup y lo vincula a un formulario 
         para realizar un seguimiento de los valores agregados al mismo y su estado de validación.
         Se usa la variable de plantilla #f="ngForm" para obtener una referencia al FormGroup asociado al formulario. -->
    <!-- El FormGroup creado con "ngForm" tiene un evento "ngSubmit", similar al "onsubmit" de HTML -->
    <!-- Cuando se presione el boton de tipo "submit", contenido en este formulario, se va a generar el evento (ngSubmit) y se va a
         ejecutar el método onSubmit() (del modelo en TypeScript) pasandos la variable "f" que hace referencia a este formulario. -->
    <form id="loginform" (ngSubmit)="onSubmit()" #f="ngForm"> 

        <!-- CUERPO DE LA TARJETA -->
        <div class="card-body px-4 py-0">
            <h2 class="p-0 my-4 text-center">Quiero recibir mas información!</h2>
            <!-- Aca se hace uso de la variable de plantilla del FormControl "var_email", la variable con nombre #var_email.
                Se hace un binding de propiedad asignando el valor de la variable #var_email a la propiedad [class.has-danger]-->
            <div class="form-group mt-2 mb-4 text-left" [class.has-danger]="var_email.invalid && var_email.touched">
                <span *ngIf="var_email.invalid && var_email.touched" class="text-danger animated fadeIn">El correo electrónico es obligatorio</span>
                <!-- ngModel es una directiva que crea un objeto de tipo FormControl y lo vincula a un control de formulario.
                    Se usa la variable de plantilla #email="ngModel" para obtener una referencia al FormControl asociado al control de formulario.
                    Es obligatorio especificar el atributo "name" de los controles que tengan la directiva ngModel, ya que será a través de dicho 
                    nombre cómo obtengamos después su valor en el componente. -->
                <!-- [(ngModel)]="email" es la forma corta de: <input [value]="email" (input)="email = $event.target.value" 
                    - Esto significa, al ocurrir el evento (input) se ejecuta la función "email = $event.target.value"
                    - Al modificarse el modelo "email" el valor se actualiza en la propiedad [value] del elemento html.-->
                <input class="form-control" 
                        type="email" 
                        required name="var_email" 
                        placeholder="Correo electrónico" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        [(ngModel)]="email" 
                        #var_email="ngModel">
            </div>
            <div class="form-group mt-2 mb-4 text-left" [class.has-danger]="var_nombre.invalid && var_nombre.touched">
                <span *ngIf="var_nombre.invalid && var_nombre.touched" class="text-danger animated fadeIn">El nombre y apellido son obligatorios</span>
                <input  class="form-control" 
                        type="text"
                        required 
                        name="var_nombre" 
                        minlength="5"
                        placeholder="Nombre y Apellido" 
                        [(ngModel)]="nombre" 
                        #var_nombre="ngModel">
            </div>
            <div class="form-group mt-2 mb-4 text-left">
                <input  class="form-control" 
                        type="tel"
                        name="var_telefono" 
                        placeholder="Teléfono" 
                        [(ngModel)]="telefono" 
                        #var_telefono="ngModel">
            </div>
            <!-- Este input es opcional, por eso no lleva el "required" -->
            <div class="form-group mt-2 pb-2 text-left">
                <textarea  
                        class="form-control" 
                        type="text"
                        rows="4"
                        name="var_mensaje" 
                        placeholder="Mensaje" 
                        [(ngModel)]="mensaje" 
                        #var_mensaje="ngModel">
                </textarea>
            </div>
            
            <!-- BOTON -->
            <!-- Si se quisiera deshabilitar el botón segun el formulario sea válido o no habría que hacer binding del
                atributo "disabled" del boton, esto es: [disabled]="f.invalid", de esta forma se estaría haciendo uso de
                la variable de plantilla que contiene una referencia al objeto FormGroup asociado al formulario -->
            <button *ngIf="!submitted" class="btn btn-danger btn-block rojo mb-4 pb-2" type="submit" [disabled]="submitted">Consultar ahora!</button>
            <button *ngIf="submitted" class="btn btn-block negro mb-4 pb-2" [disabled]="submitted">Gracias por contactarte, a la brevedad uno de nuestros asesores se comunicará con vos!</button>

        </div>
        <!-- FIN DEL CUERPO DE LA TARJETA -->

    <!-- FIN DEL FORMULARIO -->
    </form>

    <!-- FIN CUERDO DE LA TARJETA -->
</div>










