.sombra {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 
                0 6px 15px 0 rgba(0, 0, 0, 0.15);
}


button.rojo {
  color: white;
  font-weight: bold;
  background-color: #C1272D;
}

button:hover {
  color: white;
  font-weight: bold;
  background-color: #C1272D;
}

button.negro {
  color: white;
  font-weight: bold;
  background-color: #292B33;
}

button.negro:disabled {
  opacity: 1;
}


/* * Se seleccionan todas las clases ".image" (por eso el "*") hijas de card:hover  */
.card:hover * button {
  color: white;
}