<!-- Carousel con banner anterior -->
<!-- <app-carousel></app-carousel> -->

<!-- SECCION PROMOCIONES -->
<!-- BANNER PRINCIPAL -->
<div>
  <!-- La clase img-fluid la hace a la imagen responsiva, esto es, cambia su tamaño de acuerdo a la resolucion de la pantalla -->
  <img class="img-fluid position-relative" style="top: 76px" src="./assets/images/banner_principal.png" alt="First slide">
  <div class="container" style="margin-bottom: 20px;">
    <!-- VIDEO -->
    <div class="embed-responsive embed-responsive-16by9 sombra">
      <iframe class="embed-responsive-item" [src]="'https://www.youtube.com/embed/Fstt4FuRrqI?autoplay=1' | safe: 'resourceUrl'" allowfullscreen ></iframe>
    </div>
  </div>
</div>

<section id="promos" style="padding-top: 76px;">
  <div class="container">
    <div class="row mb-1">
      <!-- Promo 30m2 -->
      <div class="col-md-6 text-center my-2">
        <div class="position-relative d-inline-block w-75 sombra">
          <img class="img-fluid" src="./assets/images/promos/promo_30_v2.jpeg" alt="Promoción 30m2">
          <!-- Precio editable -->
          <div style="background-color: #FFF000;">
            <h2 class="precio">$4.746.262</h2>
            <h5 class="pb-3 m-0">PRECIO DE CONTADO</h5>
          </div>
        </div>
      </div>
      
      <!-- Promo 36m2 -->
      <div class="col-md-6 text-center my-2">
        <div class="position-relative d-inline-block w-75 sombra">
          <img class="img-fluid" src="./assets/images/promos/promo_36_v2.jpeg" alt="Promoción 36m2">
          <!-- Precio editable -->
          <div style="background-color: #FFF000;">
            <h2 class="precio">$5.846.000</h2>
            <h5 class="pb-3 m-0">PRECIO DE CONTADO</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="jumbotron pt-0" style="margin-bottom:0"> -->
  <!-- NUESTRAS OFICINAS Y FABRICA -->
  <section id="empresa" style="padding-top: 76px;">
    <div class="container mb-2">
        <div class="row">
            <div class="container">
                <h2>Acerca de Viviendas Oasis</h2>
                <p class="text-justify lead">Somos una empresa con más de 30 años en el mercado de las viviendas industrializadas, 
                lo que nos convierte en una de las pioneras en el país siendo un símbolo de confianza y calidad para nuestros 
                clientes en todo el país.
                </p> 
            </div>
        </div>
        <div class="row mb-1">
          <div class="col">
              <!-- IMAGENES DE LAS SUCURSALES -->
              <div id="contenedor-galeria" class="text-center pt-3">
                  <h4 class="text-left pb-2">Nuestras Sucursales</h4> 
                  <gallery  id="galeria1"
                            class="sombra"
                            [ngStyle]="{'height': altura_galeria}" 
                            [items]="galleryItem_sucursales" 
                            [counter]="false" 
                            [imageSize]="'cover'" 
                            [autoPlay]="true"
                            [thumb]="thumb"
                            [thumbWidth]="200"
                            [thumbHeight]="133"
                            thumbPosition="bottom"
                            [autoPlay]="true"
                            [playerInterval]="4500">
                  </gallery>
                </div>
                
                <!-- IMAGENES DE LA FABRICA -->
                <div class="text-center pt-5">
                  <h4 class="text-left pb-2">Nuestra Fábrica</h4>
                  <gallery  id="galeria2" 
                            class="sombra"
                            [ngStyle]="{'height': altura_galeria}" 
                            [items]="galleryItem_fabrica" 
                            [counter]="false" 
                            [imageSize]="'cover'" 
                            [autoPlay]="true"
                            [thumb]="thumb"
                            [thumbWidth]="200"
                            [thumbHeight]="133"
                            thumbPosition="bottom"
                            [autoPlay]="true"
                            [playerInterval]="6000">
                  </gallery>
              </div>
          </div>
        </div>
    </div>
  </section>
<!-- </div> -->
  <section class="position-relative" id="promociones" style="padding: 96px 0 96px;">
      <!-- TARJETAS PRINCIPALES -->
      <div class="album">
          <div class="container">
          <div class="row">
              <div class="col-md-6 align-content-between" *ngFor="let i of [0, 2]">
                  <app-card [precio]="true" [prefabricada]="prefabricadas[i]"></app-card>
              </div>
              <div class="col-md-6 align-content-between" *ngFor="let i of [1, 3]">
                  <app-card [precio]="true" [prefabricada]="prefabricadas[i]"></app-card>
              </div>
          </div>
          </div>
      </div>
  </section>

<!-- BANNER LLAMATIVO 1-->
<div class="container">
  <div class="row">
    <img class="img-fluid w-100" src="./assets/images/banners/mobile_banner_familia.jpg" alt="">
  </div>
</div>

<!-- SECCION: MODELOS DE CASAS -->
<section id="modelos" style="padding-top: 76px;">

  <!-- PRIMERAS NUEVE TARJETAS -->
  <div class="album pb-5">
    <div class="container">
      <div class="row">
          <div class="col-md-4" *ngFor="let i of array(6, 14)">
              <app-card [precio]="false" [prefabricada]="prefabricadas[i]"></app-card>
          </div>
      </div>
    </div>
  </div>
  
  <!-- BANNER LLAMATIVO 2 -->
  <div class="container">
    <div class="row">
      <img class="img-fluid w-100" src="./assets/images/banners/mobile_banner_call.jpg" alt="">
    </div>
  </div>
  
  <!-- SEGUNDAS NUEVE TARJETAS -->
  <div class="album py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-4" *ngFor="let i of array(15, 23)">
              <app-card [precio]="false" [prefabricada]="prefabricadas[i]"></app-card>
          </div>
      </div>
    </div>
  </div>
  
  <!-- BANNER LLAMATIVO 3 -->
  <div class="container">
    <div class="row">
      <img class="img-fluid w-100" src="./assets/images/banners/mobile_banner_mujer.jpg" alt="">
    </div>
  </div>
  
  <!-- TERCERAS NUEVE TARJETAS -->
  <div class="album py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-4" *ngFor="let i of array(24, 32)">
              <app-card [precio]="false" [prefabricada]="prefabricadas[i]"></app-card>
          </div>
      </div>
    </div>
  </div>
  
  <!-- BANNER LLAMATIVO 4 -->
  <div class="container">
    <div class="row">
      <img class="img-fluid w-100" src="./assets/images/banners/mobile_banner_fabrica.jpg" alt="">
    </div>
  </div>
  
  <!-- CUARTAS NUEVE TARJETAS -->
  <div class="album py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-4" *ngFor="let i of array(33, 41)">
              <app-card [precio]="false" [prefabricada]="prefabricadas[i]"></app-card>
          </div>
      </div>
    </div>
  </div>

  <!-- BANNER LLAMATIVO 5 -->
  <div class="container">
    <div class="row">
      <img class="img-fluid w-100" src="./assets/images/banners/mobile_banner_casa.jpg" alt="">
    </div>
  </div>
  
  <!-- QUINTAS NUEVE TARJETAS -->
  <div class="album pt-5">
    <div class="container">
      <div class="row">
          <div class="col-md-4" *ngFor="let i of array(42, 49)">
              <app-card [precio]="false" [prefabricada]="prefabricadas[i]"></app-card>
          </div>
      </div>
    </div>
  </div>

</section>
<!-- FIN SECCION: MODELOS DE CASAS -->
  
<!-- SECCCION: CONTACTO -->
<section id="contacto" style="padding: 96px 0 96px;">
  <!-- Formulario de contacto -->
  <div class="container sombra px-0" >
    <app-contact-form></app-contact-form>
  </div>
</section>
<!-- FIN SECCCION: CONTACTO -->


<!-- SECCION: GALERIA DE FOTOS -->
<section id="galeria" style="background-color: #292B33;">
  <div class="container" style="padding: 96px 0 96px; ">
    <h4 class="pb-3 text-white">Galería de Fotos</h4> 
    <ng-opengallery
      [datasource]='this.data'
      [config]='this.config'>
    </ng-opengallery>
    <!-- VIDEO -->
    <h4 class="pt-5 pb-3 text-white">Videos Nuevos Propietarios</h4> 
    <div class="embed-responsive embed-responsive-16by9 sombra">
      <iframe class="embed-responsive-item" [src]="'https://www.youtube.com/embed/Yc8CYTAf4ms?autoplay=1' | safe: 'resourceUrl'" allowfullscreen ></iframe>
    </div>
  </div>
</section>
<!-- FIN SECCION: GALERIA DE FOTOS -->


<div class="jumbotron pt-0" style="margin-bottom:0">
  <!-- NUESTRAS OFICINAS Y FABRICA -->
  <section id="empresa">
    <!-- MAPAS DE UBICACION DE SUCURSALES -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-5">
          <figcaption class="mb-2">Av. Arturo Illia, Albert Schweitzer &, B1661 Bella Vista, Bs. As.</figcaption>
            <div class="embed-responsive embed-responsive-16by9 sombra">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.8855424806684!2d-58.67081048435756!3d-34.5564532625068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbc6a79fbf391%3A0xe65084cb895f6177!2sAv.%20Pres.%20Arturo%20Umberto%20Illia%20902%2C%20B1661AAW%20Bella%20Vista%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1582056924512!5m2!1ses!2sar"></iframe>
            </div>
        </div>
        <div class="col-md-6 mt-5">
          <figcaption class="mb-2">Av. Pres. Hipólito Yrigoyen 11009, B1833GTL Lomas de Zamora, Bs. As.</figcaption>
          <div class="embed-responsive embed-responsive-16by9 sombra">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.7763265310873!2d-58.41016058435167!3d-34.78640577469514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd302e374f8f9%3A0xea3bee81fc96cd50!2sAv.%20Pres.%20Hip%C3%B3lito%20Yrigoyen%2011009%2C%20B1833BKB%20Villa%20Turdera%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1582056873211!5m2!1ses!2sar"></iframe>
          </div>
        </div>    
      </div>
      <div class="row">
        <div class="col-md-6 mt-5">
          <figcaption class="mb-2">Colectora Sur Acceso Oeste 2569, Moreno, Bs. As.</figcaption>
          <div class="embed-responsive embed-responsive-16by9 sombra">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.7716091602556!2d-58.7645557843556!3d-34.635211466673134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc95bd3da003a3%3A0xd3050d59b1552ae8!2sColectora%20Sur%20Acceso%20Oeste%202569%2C%20Paso%20del%20Rey%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1582056897419!5m2!1ses!2sar"></iframe>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <figcaption class="mb-2">Esteban Echeverría 108, B1718GAO San Antonio de Padua, Bs. As.</figcaption>
          <div class="embed-responsive embed-responsive-16by9 sombra">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.5715425728376!2d-58.698342184354935!3d-34.665521968278796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbf80dce90779%3A0xfc9867b63d841d68!2sEsteban%20Echeverr%C3%ADa%20108%2C%20B1718GAO%20San%20Antonio%20de%20Padua%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1582056842448!5m2!1ses!2sar"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>


      
      
