
.sombra {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 
                0 6px 15px 0 rgba(0, 0, 0, 0.15);
}

.precio {
    background: #FFF000;
    padding: 0px 20px 0px 0px;
    border-radius: 4px;
    font-size: 2.4rem;
    font-weight: normal;
    color: #000;
    min-width: 150px;
  }