/* You can add global styles to this file, and also import other style files */

html {
    /* Se agrega el efecto de scroll sueva cuando se navegue automáticamente a las diferentes secciones */
    scroll-behavior: auto;
}


.logo {
    margin: 0 30px 0 20px;
    padding: 10px 0px; 
}

.bg-amarillo {
    background-color: #fcee21
}


/* Esto se hace para que los estilos de Bootstrap no superpongan los de ng-opengallery */
ng-opengallery .modal-content {
    background-color: transparent;
}

/* Esto se hace para que los estilos de Bootstrap no superpongan los de ng-opengallery */
ng-opengallery .close {
    float: none;
    text-shadow: none;
    opacity: 1;
}

ng-opengallery .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

ng-opengallery h3 {
    font-size: 1.17em;
}